body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI",
  Helvetica, Roboto, Arial, sans-serif;
  color: goldenrod;
}

.App {
  font-family: sans-serif;
  text-align: center;
}

h4 {
  text-align: left;
  margin-left: 40px;
}

hr {
  border-top: 2px dotted #3f51b5;
}

button {
  margin-right: 10px;
  background: goldenrod;
  color: white;
  border: none;
  padding: 5px 10px;
  width: 100px;
  cursor: pointer;
  font-size: 18px;
  /* box-shadow: 2px 2px 2px 1px #ccc; */
}

/* For pdf */
.react-pdf__Page {
  margin-top: 10px;
  margin-left: 50px;
}
.react-pdf__Page__textContent {
  border: 1px solid darkgrey;
  box-shadow: 5px 5px 5px 1px #ccc;
  border-radius: 5px;
}

.react-pdf__Page__annotations.annotationLayer {
  padding: 20px;
}

.react-pdf__Page__canvas {
  margin: 0 auto;
}

/* For all pages */
.all-page-container {
  height: 100%;
  max-height: 500px;
  overflow: auto;
}

/* Fixed sidenav, full height */
.sidenav {
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 20px;
}

/* Style the sidenav links and the dropdown button */
.sidenav a, .dropdown-btn {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: white;
  display: block;
  border: none;
  background: none;
  width:100%;
  text-align: left;
  cursor: pointer;
  outline: none;
}

/* On mouse-over */
.sidenav a:hover,/* .dropdown-btn:hover,*/ .charactersheet:hover {
  color: goldenrod;
}

/* Main content */
.main {
  margin-left: 200px; /* Same as the width of the sidenav */
  font-size: 20px; /* Increased text to enable scrolling */
  padding: 0px 10px;
}

/* Add an active class to the active dropdown button */
.active {
  background-color: green;
  color: white;
}

/* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
.dropdown-container {
  /* display: none; */
  background-color: #262626;
  padding-left: 20px;
}

/* The about link: 20px from the top with a green background */
#dnd {
  top: 20px;
  background-color: #04AA6D;
}

#lancer {
  top: 80px;
  background-color: #2196F3; /* Blue */
}

#pathfinder {
  top: 140px;
  background-color: #f44336; /* Red */
}

#title {
  font-size:xx-large;
  color: goldenrod;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.charactersheet {
  color: white;
  background-color: #262626;
}